*{
    scroll-behavior: smooth;
}
:root {
    --white-color:                  #ffffff;
    --primary-color:                ;
    --section-bg-color:             ;
    --dark-color:                   ;
    --grey-color:                   #008385;
    --text-secondary-white-color:   ;
    --title-color:                  ;
    --p-color:                      #000000;
    --contrast-color:               ;
    --header-color:                 #C61D1D;

    --header-font-family:          'Segoe UI Regular';
    --body-font-family:           ;
  
    --h1-font-size:               ;
    --h2-font-size:               ;
    --h3-font-size:               ;
    --h4-font-size:               ;
    --h5-font-size:               ;
    --h6-font-size:               ;
    --p-font-size:                ;
    --copyright-text-font-size:   ;
    --custom-link-font-size:      ;
  
    --font-weight-light:          ;
    --font-weight-normal:         ;
    --font-weight-bold:           ;
    --font-weight-black:          ;
  }
header{
    width: 100%;
    padding: 0px 40px;
    background-color: var(--header-color);
    position: fixed;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family:var(--header-font-family);
    height: 115px;

}
header a{
    text-decoration: none;
}
#homel {
    display: inline-flex;
    align-items: center;

}
#home_logo {
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background-color: var(--white-color);
    display: inline-block;
}
#home_link{
    font-size: 53px;
    color: var(--white-color);
    text-transform: uppercase;
    padding-left: 24px;
    padding-bottom: 10px;
}
.nav_home a{
    color: var(--white-color);
    font-size: 21px;
    padding-right: 80px;
}
.dropdown.active > .link,
.link:hover,.nav_home > a:hover{
    color: black;
    transition: 0.4s;
}
.dropdown{
    position: relative;
    display: inline-block;
    padding-right: 80px;
}
.dropdown-menu {
    position: absolute;
    top: calc(100% + 2.7rem);
    background-color: rgb(54, 30, 30);
    opacity: 0;
    pointer-events: none;
    width: max-content;
    transform: translateY(-10px);
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}
.dropdown-menu{
    display: grid;
    grid: 1fr/ auto auto;
}
.dropdown-menu a,.fa-angle-right{
    border-bottom: 1px solid black;
    padding: 10px 15px;
}
.dropdown-menu .fa-angle-right{
    font-size: 25px;
    color: var(--white-color);
    transition: 0.5s;
}
.dropdown-menu>a:hover +.fa-angle-right,.fa-angle-right:hover{
    color: #000000;

}
.dropdown.active > .link + .dropdown-menu{
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto; 
    transform: translateX(15px);
    
}
.dropdown.active > .link > i{
    opacity: 0;
    transition: opacity  300ms ease-in-out;
    
}
.dropdown.active > .link {
    transform: translateX(15px);
    font-size: 23px;
    transition: transform 300ms ease-in-out, font-size 300ms ease-in-out;
}
.dropdown> .link > i{
    opacity: 1;
    transition: opacity  300ms ease-in-out;
}
.dropdown> .link {
    transform: translateX(0px);
    font-size: 21px;
    transition: transform 300ms ease-in-out, font-size 300ms ease-in-out;

}
button i{
    pointer-events: none;
    padding-left: 5px;
}
button {
    border: none;
    background: none;
    font-size: 21px;
    color: var(--white-color);
    cursor: pointer;
}
audio{
    display: none;
}